h1 {
    background-color: rgb(231, 53, 53);
    display: flex;
    justify-content: center;
    padding: 0.5em;
    border: 3px solid black;
    font-size: 80px;
    margin: 0;
}

.div_id, .div_descricao, .div_ean, .div_categoria, .div_subcategoria, .div_comprador, .div_botao {
    background-color: rgb(237, 154, 154);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.5em 1em 0.5em;
    border: 3px solid black;
    font-size: 40px;
    margin: 0;
}

#id, #descricao, #codigoBarras, #categoria, #subcategoria, #comprador {
    background-color: rgb(247, 214, 214);
    font-size: 30px;
    padding: 0.1em;
}

label {
    font-size: 1.2em;
    margin-bottom: 1px;
}

input, select {
    width: 50%;
}

button {
    width: 50%;
    padding: 15px;
    font-size: 35px;
    background-color: rgb(18, 148, 18);
}

