* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:fantasy;
    color:white;
    text-align: center;
}
body{
    background-image: url("teste.png");
    background-repeat: no-repeat;
    background-size:100% auto ;
}
h1 {
font-size: 100px;
}

input[type=number] {
    width: 400px ;
    padding: 10px;
    border-radius: 15px;
}
p {
    font-size:30px ;
}
button {
    font-size: 15px;
}
#btnVerificar{
    position:relative;
    margin-top: 10px;
    animation: mover 1.0s infinite alternate ease-in-out;
}
@keyframes mover{
    from{
        left: 90px;
    }
    to{
        left: 400px;
    }
}