.carrossel__titulo {
    color: var(--cor-quarta);
    text-align: center;
    font-size: 24px;
    padding: 1em;
    font-weight: 700;
    background-color: var(--cor-primaria);

}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}
