h2 {
Color: green;
font-size: 150px;
}

ul {
    border: 2px solid red;
    Color: blue;
    font-size: 80px;
}

.paragrafh {
    background-color: brown;
    color: aquamarine;
}    

#exclusive-title {
    background-color: #308828;
    font-size: 35px;
}